/home/adam/Pulpit/Modul03/Java_Zaawansowana
../JeeServlet/
../KAT_JEE_W_04_Servlety/
../Servlety_JSP_dzien_1
../Servlety_JSP_dzien_2
../Servlety_JSP_dzien_3
../Test02/
../Warsztaty_3
../Warsztaty_Samodzielny
*.iml
